
.hero-con{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    
}


.hero-left{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}
.hero-left > h2{
    font-size: 60px;
    color: purple;
}

.hero-left > p{
    font-size: 25px;
}

.hero-left > a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
    padding: 0.75rem;
    border-radius: 50px;
    text-decoration: none;
    color: purple;
    font-weight: 600;

}

.hero-left >a:hover{
    background-color: purple;
    color: white;
}

.hero-right{
    width: 100%;

}

.img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}